<!DOCTYPE html>
<html>
<head>
    <title>Simple Form</title>
    <link href="/css/home.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="info-div">
        <h1>Municipal Bond Funds Tax Exemption Calculator</h1>
        <p>This simple calculator lets you calculate your by state tax liability for Municipal Bond Funds that have various municipal bonds within it.</p>
        <p>Pro tip: you can type on dropdown menus</p>
    </div>
    <form method="POST" action="/">
        <!-- State Code Dropdown -->
        <label for="state">State/Territory</label>
        <select id="state" name="state">
            <% data.territories.forEach(item => { %>
                <option value="<%= item[0] %>"><%= item[1] %> - <%= item[0] %></option>
            <% }) %>
        </select>
        <br>

        <!-- Year Dropdown -->
        <label for="year">Year</label>
        <select id="year" name="year">
            <option value="2024">2024</option>
        </select>
        <br>

        <!-- Symbol Dropdown -->
        <label for="symbol">Fund Symbol (e.g. FMNDX)</label>
        <select id="symbol" name="symbol">
            <% data.bonds.forEach(item => { %>
                <option value="<%= item.symbol %>"><%= item.symbol %> - <%= item.name %></option>
            <% }) %>
        </select>
        <br>

        <!-- Dividends Input -->
        <label for="dividends">Dividends Total (for Calendar Year)</label>
        <input type="number" id="dividends" name="dividends" min="0" step=".01">
        <br>
        <button type="submit">Calculate</button>
    </form>
    <% if (data.calculation) { %>
    <div id="results">
        
            <table id="calculation-table">
                <tr>
                    <% data.nums.calculation.forEach(item => { %>
                        <th><%= item[0] %></th> 
                    <% }) %>
                    <th>Dividends</th>
                </tr>
                <tr>
                    <% for (let i = 0; i < data.nums.calculation.length; i++) { 
                        var perc = data.nums.calculation[i][1] * 100 %>
                            
                        <td>
                            <% if (i == 0) { %>
                                (
                            <% } %>
                            <%= perc.toFixed(2) %>%
                            <% if (i == data.nums.calculation.length - 1) { %>
                                )
                            <% } else { %>
                                +
                            <% } %>
                        </td> 
                    <% } %>
                    <td>* <%= data.nums.dividend %></td>
                </tr>
            </table>
            <table id="result-table">
                <tr>
                    <th><%= data.nums.stateCode %> Non-taxable</th>
                    <th><%= data.nums.stateCode %> Taxable</th>
                </tr>
                <tr>
                    <td id="nonTaxCell"><%= data.nums.nonTaxable.toFixed(2) %></td>
                    <td id="taxCell"><%= data.nums.taxable.toFixed(2) %></td>
                </tr>
            </table>
        
    </div>
    <p id="copy-status"></p>
    <% } %>

    // Script for copy functionality
    <script>
        const copyStatus = document.getElementById('copy-status')
        const defaultMsg = "Click cell to copy"
        copyStatus.innerText = defaultMsg

        const nonTaxCell = document.getElementById('nonTaxCell')
        nonTaxCell.addEventListener('click', () => {
            navigator.clipboard.writeText(nonTaxCell.textContent)
                .then(() => {
                    copyStatus.textContent = "Copied non-taxable!"
                    setTimeout(() => {
                        copyStatus.textContent = defaultMsg
                    }, 2000)
                })
                .catch(err => {
                    console.error('Failed to copy: ', err);
                })
        })

        const taxCell = document.getElementById('taxCell')
        taxCell.addEventListener('click', () => {
            navigator.clipboard.writeText(taxCell.textContent)
                .then(() => {
                    copyStatus.textContent = "Copied taxable!"
                    setTimeout(() => {
                        copyStatus.textContent = defaultMsg
                    }, 2000)
                })
                .catch(err => {
                    console.error('Failed to copy: ', err);
                })
        })

    </script>
</body>
</html>
